.idea/

# dotenv
env

# data
data/

# runs
runs/

thrash/

# arithmeticcoder file
*.code
*.bat

# virtualenv
.venv
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
